<div class='main'>
  <li><a href="#" id="simple-menu"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg"></a></li>
  <h1>
    Create and share Stories
  </h1>
  <div class='btn'>
    Learn more
  </div>
</div>

<div class='support'>
  <div class='Row'>
    <h1>
      Relive and share your adventures
    </h1>
    <p>
      Stories automatically creates a digital journal filled with only your best photos.
    </p>
  </div>
  <div class='Row'>
    <%= image_tag "" %>
  </div>
<div class='footer'>
  A Cool Project
  </div>

  
</div>